div.man img{
    width: 200px;
    
}
div.man {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
    width: 200px;
    height:200px;
    align-content: center;
    margin: 0 auto;
    margin-top: 50px;
    -webkit-animation: rotate 10s infinite linear;
    z-index: 1;
    
   
}
@keyframes rotate {
  0% {
    transform: translate(0, 0) rotate(0deg)
  }
  25% {
    transform: translate(300px, 250px) rotate(-40deg)
  }
  50% {
    transform: translate(300px, -50px) rotate(0deg)
  }
  75% {
    transform: translate(0, -50px) rotate(40deg)
  }
  100% {
    transform: translate(0, 0) rotate(0deg)
  }
}


.bg img{
    width: 1200px;
    margin: 0 auto;
    display: block;
    -webkit-animation: rotateBg 8s infinite linear;
    z-index: 2;
    
    
    
}
@keyframes rotateBg {
  0% {
    transform: translate(0, -200)
  }
  50% {
    transform: translate(0, -1000px)
  }
    75% {
    transform: translate(0, -500px)
  }
     100% {
    transform: translate(0, -200)
  }
/*
  50% {
    transform: translate(0px, -500px)
  }
  75% {
    transform: translate(0, 500px)
  }
  100% {
    transform: translate(0, -500px)
  }
*/
}